@model IEnumerable<Dram_Capstone.Models.Whiskey>

@{
    ViewData["Title"] = "My Library";
}

<h2>My Whiskey Library</h2>
<p><a asp-action="Create" title="Add Whiskey"><i class="fas fa-plus"></i>Whiskey</a></p>
<div class=" row">

@foreach (var item in Model) {
    <div class=" col-sm-3 text-center">
        <div class="card bg-light shadow p-3 mb-5 bg-white rounded">      
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Distillery)</h5>
                <p class="card-text">@Html.ActionLink(($"{item.Name}"), "Details", new { id = item.WhiskeyId })</p>
                <div class=" card-footer bg-white ">
                    @if (item.Favorite == true)
                    {
                        <span style="color: #D35439;">
                            <i class="fas fa-heart style=color:#ff0000"></i>
                        </span>
                    }
                    else
                    {
                    <i class="far fa-heart"></i>
                    }
                    <a asp-action="Delete" asp-route-id="@item.WhiskeyId" title="Delete">
                        <span style="color: black;">
                            <i class="far fa-trash-alt"></i>
                        </span>
                    </a>
                </div>
            </div> 
        </div>
    </div>
 }
