@model Dram_Capstone.Models.WhiskeyViewModels.WhiskeyHomeIndexView


@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-4">
        <h2>Recent User Reviews</h2>
        @foreach (var item in Model.OthersWhiskeys)
        {
            <div>
                    @Html.ActionLink(($"{item.WhiskeyEntry} reviewed by {item.User.FullName} "), "Details", "Whiskeys", new { id = item.WhiskeyId })             
            </div>
        }
    </div>
    <div class="col-sm-8 text-center">
        <h2>Favorite Whiskeys</h2>
        <div class=" row">
            @foreach (var item in Model.FavoriteWhiskeys)
            {
                if (item.Favorite == true)
                {
                    <div class=" col-sm-4 ">
                        <div class="card bg-light shadow mb-5 bg-white rounded">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Distillery)</h5>
                                <p class="card-text">@Html.ActionLink(($"{item.Name}"), "Details", "Whiskeys", new { id = item.WhiskeyId })</p>
                                <div class=" card-footer">
                                    <p> @Html.DisplayFor(modelItem => item.Review.ReviewScore)<p>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            </div>
        </div> 
</div>
