@model Dram_Capstone.Models.WhiskeyViewModels.WhiskeyHomeIndexView


@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <h2>Recent Whiskey Reviews on Dram</h2>
        @foreach (var item in Model.OthersWhiskeys)
        {
            <div>
                <div>
                    @Html.ActionLink(($"{item.WhiskeyEntry} reviewed by {item.User_Id} "), "Details", "Whiskeys", new { id = item.WhiskeyId })
                </div>
            </div>
        }
    </div>
            <h2>Favorite Whiskeys</h2>
    @*<div class="col-sm-6">
            @foreach (var item in Model.FavoriteWhiskeys)
            {
                if (item.Favorite == true)
                {
                <div>
                    <div>
                        @Html.ActionLink(($"{item.WhiskeyEntry}"), "Details", "Whiskeys", new { id = item.WhiskeyId })
                    </div>
                </div>

                }
            }
        </div> *@

</div>
