

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <h2>Dram.</h2>

        <p>
            Dram is a tool for whiskey fans to drink, appreciate,
            and share their opinions of whiskey. Dram provides novices an easy way to approach whiskey, while allowing more seasoned drinkers a way to connect with others and find reviews on the favorite spirits.
        </p>
    </div>
    <div class="col-sm-6">
        <h3> /dram/ n. "a small drink of whiskey or other spirits" </h3>


    </div>
