

@{
    ViewData["Title"] = "Home Page";
}
@* Left column of welcome page *@
<div class="row">
    <div class="col-sm-9">
        <div class="jumbotron " style="background-color:#d1af78">
            <div class="container">
                <h2 class="display-4 font-weight-lighter .text-white"><i class="fas fa-glass-whiskey"></i> Dram.</h2>
                <h4 class="font-weight-light">
                    /dram/ n. <br />
                    "a small drink of whiskey or other spirits"
                </h4>
                <br />
                <h4 class="font-weight-light">
                    Dram makes it easy to do what you should do with whiskey...
                </h4>
                <h4 class="font-weight-bold">
                    Drink. Appreciate. Share.
                </h4>
            </div>
        </div>
    </div>

    @* Right column of welcome page *@
    <div class="col-sm-3 d-flex my-auto justify-content-center">
        <div class="d-flex flex-column">
           
            
            <div>

                <a class="btn btn-primary text-white btn-lg btn-block border-0" style="background-color:#D35439" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
            <div>
                <br>
            </div>
            <div>
                <a class="btn btn-primary text-white btn-lg btn-block border-0" style="background-color:#D35439" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </div>
    </div>
</div>






