

@{
    ViewData["Title"] = "Home Page";
}


        <div class="jumbotron jumbotron-fluid background-color:"blue">
            <div class="container">
                <h1 class="display-4">Dram</h1>
                <h4 class="font-weight-light"> /dram/ n. <br />
                "a small drink of whiskey or other spirits"</h4>
                <br />
                <p class="lead">
                    Dram makes it easy to do what you should do with whiskey.  <br />                
                    Drink. Appreciate. Share.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">
                <div class="d-flex flex-column justify-content-center"> 
                    <h2 class="display-3 text-center px-30 .text-white"><i class="fas fa-glass-whiskey"></i> Dram.</h2>
                    
                    @* Alternate login layout
                        <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-secondary border-0">Register</button>
                    <button type="button" class="btn btn-outline-secondary border-0">Login</button>
                    </div>*@
                </div>
            </div>
        </div>
       

        
    

